#section1{
    background-color: rgb(00,00,00);
    background-image: url("http://exoticcareerconsultancy.com/img/countries/france1.jpg");
    background-repeat: "no-repeat";
}

#section2{
    background-color: rgb(44,62,80);
}

#section3{
    background-color: rgb(51,153,204);
}

#section4{
    background-color: rgb(19,76,140)
}

#section5{
    background-color:rgb(190,14,45);
}

#section6{
    background-color: rgb(67,49,140)
}

#section7{
    background-color: rgb(22,98,49)
}

.section{ 
    text-align:center;
    color:white;
}

