
.mainheading { 
    text-align: center;
    color:dodgerblue;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

#playerprofile {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#playerprofile tr:nth-child(even){background-color: #f5f5f5;}

#playerprofile tr:hover {background-color: #ddd;}

