
.mainheading { 
    text-align: center;
    color:dodgerblue;
}

.responsive {
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px dashed #ccc;
}

.table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}