.flag{
    height:100%;
    width:100%;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/54/Civil_and_Naval_Ensign_of_France.svg/300px-Civil_and_Naval_Ensign_of_France.svg.png");
    background-size: cover
}

.mainheading { 
    text-align: center;
    color:dodgerblue;
}